services:
  gateway:
    volumes:
      # Local development overrides - no HTTPS needed
      - ./gateway/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./gateway/nginx-ssl-dev.conf:/etc/nginx/conf.d/nginx-ssl.conf
      # Note: /etc/letsencrypt mount is omitted for local dev
