<footer class="surface-container-low">
    <md-divider></md-divider>
    <div class="footer-wrapper">
        <div class="footer-content">
            <p class="body-medium text-secondary">&copy; {% now "Y" %} My Recipe App</p>
            <div class="footer-links">
                <md-text-button>Privacy Policy</md-text-button>
                <md-text-button>Terms of Service</md-text-button>
                <md-text-button>Contact Us</md-text-button>
            </div>
        </div>
    </div>
</footer>